
@{


    ViewBag.Title = "SideMenu";
   
}

<h2>SideMenu</h2>

<ul class="list-group">
    <li class="list-group-item"><a href="/Test/Index" class="btn btn-default btn-block">Face Sheet</a></li>
    <li class="list-group-item"><a href="/Test/Index" class="btn btn-default btn-block">History</a></li>
    <li class="list-group-item"><a href="/Test/Index" class="btn btn-default btn-block">Problems</a></li>
    <li class="list-group-item"><a href="/Test/Index" class="btn btn-default btn-block">Medications</a></li>
    <li class="list-group-item"><a href="/Test/Index" class="btn btn-default btn-block">Immunizations</a></li>
    <li class="list-group-item"><a href="/Test/Index" class="btn btn-default btn-block">Allergies</a></li>
    <li class="list-group-item"><a href="/Test/Index" class="btn btn-default btn-block">Vitals</a></li>
    <li class="list-group-item"><a href="/Test/Index" class="btn btn-default btn-block">Notes</a></li>
    <li class="list-group-item"><a href="/Test/Index" class="btn btn-default btn-block">Labs/Studies</a></li>
    <li class="list-group-item"><a href="/Test/Index" class="btn btn-default btn-block">Demographics</a></li>
</ul>

@*<h1>Medical</h1>
<ul class=" list-group">
    <li class=" list-group-item"><a href=" /Test/Index" class=" btn btn-default btn-block">Clinical</a></li>
    <li class=" list-group-item"><a href=" /Test/Index" class=" btn btn-default btn-block">Administrative</a></li>

</ul>

<h1>Financial</h1>

<ul class="list-group">
    <li class=" list-group-item-heading">Employees</li>
    <li class=" list-group-item"><a href=" /Test/Index" class=" btn btn-default btn-block">Administrative</a></li>
    <li class=" list-group-item-heading">Patients</li>
    <li class=" list-group-item"><a href=" /Test/Index" class=" btn btn-default btn-block">Administrative</a></li>
    <li class=" list-group-item-heading">Expenses</li>
    <li class=" list-group-item"><a href=" /Test/Index" class=" btn btn-default btn-block">Administrative</a></li>

</ul>

<h1>Employee Personal Information</h1>
<ul class=" list-group">
    <li class=" list-group-item"><a href=" /Test/Index" class=" btn btn-default btn-block">Administrative</a></li>

</ul>
<h1>Administrator</h1>
<ul class=" list-group">
    <li class=" list-group-item"><a href=" /Test/Index" class=" btn btn-default btn-block">Administrative</a></li>

</ul>*@