@model IEnumerable<HEAPIFY_Manager_540.Models.Patient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <legend> Patient's Registration Form </legend>
        <div class="editor-label">



        </div>









    </fieldset>
}
